doctype html
html
  head
    include shared/layout-head.pug

  body
    include shared/layout-body.pug
    include ../shared/menu/menu-layout.pug
    include ../shared/menu/mobile-menu-layout.pug
    include shared/layout-main-content.pug
